

.search {
  align-items: center;
  font-size: 1em;
  margin-top: 1em;
  padding-left: 0.8em;
  height: em(40px);

  border: 2px solid lighten($grey, 35%);
  border-radius: 4px;

  &:focus {
    border-color: $color-secondary;
  }

  @include mq(lg) {

  justify-content: flex-end;
  width: 40%;

  margin-left: auto;
  margin-right: 1em;
  }
}


#name, #message, #timezone {
  width: 100%;
  margin: .5em 0px;
  background-color: lighten($grey, 43%);
  border-color: $grey;
  border-radius: 4px;
  padding: 1em;
  color: $grey;

  @include mq(lg) {
    width: 90%;
  }
}

#name {
  height: 3em;
}

#message {
  height: 7.8em;
}

#timezone {
  width: 100%;
  height: 3.2em;
  margin: 1em auto;
}
