* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-decoration: none;
          list-style-type: none;

}


body {
  font-family: $font-family-primary;
  font-weight: $font-weight--medium;
}

strong {
  font-weight: $font-weight--bold;
}

h1 {
  font-size: em(27px);
  color: $white;
}

h2 {
  font-size: em(16px);
  color: $grey;
  text-transform: uppercase;
}

h3 {
  font-size: em(20px);
  color: $color-primary;
  margin: 0px;
}



p {
    font-size: em(18px);
    line-height: (27px/18px);
    color: $grey;
    font-weight: $font-weight--light;

}
